body {
    padding-top: 5rem;
}

header{
    background-color: rgb(97,163,107);
    line-height: 2.1;
    
}

div .container{
    background-color:rgb(97,163,107);
    display: grid;
    place-items: center;
    line-height: 0.8;
    color: white;
    
    
}

img {
    
    width: 20%;
    border-radius: 50%;
    place-items: center;
    
    
}

.size {
    line-height: 2.0;
}



div .front {
    display: grid;
    place-items: center;
    background-color: white;
}

/*p .front1 {
    line-height: 2.5;
}*/

.front2 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    
}
 div .status {
    align-items: center;
    
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

}
button{
    border-radius: 15px;
    color: white;
    font-size: 20px;
    background-color: rgb(126,211,33);
    border: none;
    width: 150px;
    height: 50px;
    


   
}