{% extends "base.html" %}
{% block main %}

<header>
    <div class="container">
        <img src= "{{ url_for('static', filename='picture/meee.jpg') }}" alt="image of myself"/>
        <h1> Mary Jane</h1>
            <br> <p class="size">@mjane
            <br> Kingston, Jamaica 
            <br> Joined January, 2018</p>
        

    </div>
</header>
<body>
    <div class="front">
        <p>I am a smart and talented young woman who loves website
            design and development. Contact me if you'd like to
            work together on a new project.
        </p>
    </div>

    <div class="front2">
        <div class="status"><strong>7 </strong><br> Post</div>
        <div class="status"><strong>100 </strong> <br> Following</div>
        <div class="status"><strong>250 </strong> <br> Followers</div>

    </div>

    <div class="btn"><button>Follow</button> </div>

</body>










{% endblock %}